{% load static %}
<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>IBank</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
			<link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery.validate.js' %}"></script>
        </head>
        <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/dashboard/">IBANK</a>
                    </div>
                    <ul class="nav navbar-nav navbar-left">
                        {% if user.is_authenticated %}
                            <li><a href="/dashboard/"><strong>Dashboard</strong></a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/logout/">Hello, <strong> {{ user.username }} </strong> Logout <span>&#x2714;</span> </a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                {% include 'messages.html' %}
                {% block content %}

                {% endblock %}
            </div>
            <div class="modal fade" id="modalconfirmdelete" tabindex="-1" role="dialog" aria-labelledby="modalconfirmdeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">  </h4>
                        </div>
                        <div class="modal-body"> {% csrf_token %}

                        </div>
                    </div>
                </div>
            </div>
            {% block bootstrap_admin_js %}
                <script>
                $(document).ready(function(){
                    $("#modalconfirmdelete").on("show.bs.modal", function(e) {
                        var link = $(e.relatedTarget);
                        $(this).find(".modal-body").load(link.attr("href"));
                    });
                });
                </script>
            {% endblock bootstrap_admin_js %}
            {{form.media}}
        </body>
	</html>