{% extends "base.html" %} 
{% block content %}
<div class="container">
        <div class="col col-sm-12 text-center">
                <div class="col col-sm-12 text-center">
                    <div class="col col-lg-1"></div>
                    <div class="col col-lg-10">
                            <h2 style="margin-left:10px;">Add Client Users</h2>
                        <div style=" border: 1px solid lightgray; padding: 20px;">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                
                                {{ form.non_field_errors }}
                                    {% for field in form.visible_fields %}
                                    <div class="row">
                                        <div class="col col-sm-4">
                                            {{ field.label_tag }}*
                                        </div>
                                        <div class="col col-sm-4">
                                            {{ field }}
                                            {{ field.errors }}
                                            {{ field.help_text }}
                                        </div>
                                        <div class="col col-sm-4">
                                        </div>
                                    </div>
                                    {% endfor %}
                                <div style="padding:12px;">
                                    <a class="btn btn-default" href="/dashboard">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col col-lg-1"></div>
                </div>
                
            </div>
</div>
<script>
        $( document ).ready(function() {
            $('#id_first_name,#id_last_name').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                        e.preventDefault();
                    }
                }
            });
        });
    </script>
{% endblock content %}